body{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
.heading h1{
    font-size: 50px;
    color:white;
    padding-bottom: 1em;
    }
a{
    color:aquamarine;
    font-size: 16px;
    
}
.personal--guide h1{
  font-weight: 300;
  font-size: 42px;
  color: white;
  padding:1em  1em;
}
.personal--guide p{
    font-size: 21px;
    color: gray;
    padding: 1em 0;
}
img{
    
    display:inline-block; /* Блочный элемент (для старых браузеров) */
padding: 1em;
    
}
footer{
    text-align: right;
    color: gray;
}